html {
  background: rgb(216, 241, 247);
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn{
     background: rgb(255, 0, 140);
     border: 1px solid rgb(255, 0, 140);
}
button {
  margin: 15px;
  width: 140px;
  height: 50px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: .7px;
  background-image: linear-gradient(to top, #ffffff33 1px, #ff0000 1px, #0000001a 100%);
  box-shadow: 0 60px 12px -18px rgba(0, 0, 0, 0.1), 0 60px 20px -12px rgba(0, 0, 0, 0.1);
animation: anime 1s infinite ease-in-out alternate;
-webkit-animation: anime 1s infinite ease-in-out alternate;
}
.btn{
    animation-delay: .3s;
}
@keyframes anime {
    100% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        box-shadow: 0 40px 10px rgba(0,0,0,0.2), 0 40px 10px rgba(0,0,0,0.2);
    }
}
